<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/5/superhero/bootstrap.min.css">
    <title>CRUD - About</title>

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Dealership OurCars</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>

                     <li class="nav-item">
                         <a class="nav-link active" href="">About</a>
                     </li>
                </ul>
            </div>
          </div>
        </nav>
    </header>

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>
            <strong>
              <p>Dealership System</p>
            </strong>
        </h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
      <p>This web app was developed by <strong>Bryan Lima</strong> with Python/Django, SQLITE and Bootstrap.</p>
      <p>This web app is a simple crud of a car dealership where you can make your inventory. </p>
    </div>
</body>
</html>